@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
:root{
    --primary: rgb(239,120,20);
    --primary-light: rgba(239,120,20,.7);
    --border: 2px solid var(--primary);
    --start: rgb(0,98,48);
    --start-light: rgba(0,98,48,.37);
    --start-border: 2px solid var(--start);
    --stop: rgb(194,34,41);
    --stop-light: rgba(194,34,41,.37);
    --stop-border: 2px solid var(--stop);
    --reset: rgb(255, 254, 183);
    --reset-light: rgba(255, 254, 183,.37);
    --reset-border: 2px solid var(--reset);
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;

}
body {
    width: 100%;
    min-height: 100vh;
    background-image: url('/images/ODC.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h3.title {
    text-align: center;
    color: var(--primary);

}
.btn {
    padding: 2rem;
    border: var(--border);
    background-color: transparent;
}

.btn.btn-start{
    background-color: var(--start-light) !important;
    color: var(--start);
    border: var(--start-border);
}
.btn.btn-stop{
    background-color: var(--stop-light) !important;
    color: var(--stop);
    border: var(--stop-border);
}
.btn.btn-reset{
    background-color: var(--reset-light) !important;
    color: var(--reset);
    border: var(--reset-border);
}
.timer-wrapper{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#timer {
    color: var(--primary);
    text-align: center;
    font-size: 20vw;
}
.commands{
    margin-top: 10rem;
}